In [2]:
# Get API_KEY from https://covidactnow.org/data-api
import pandas as pd
#import config
import requests
#from config import API_KEY

In [3]:
API_KEY = '9c8ae8632b244441a5fdeb71fb3f5fa7'

In [48]:
# Time series for all states
covid_df = pd.read_csv(f'https://api.covidactnow.org/v2/states.timeseries.csv?apiKey={API_KEY}')

In [49]:
covid_df.head(1000)

,date,country,state,county,fips,lat,long,locationId,actuals.cases,actuals.deaths,...,actuals.hsaIcuBeds.capacity,actuals.hsaIcuBeds.currentUsageTotal,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel
0,2020-03-01,US,AK,NaN,2,NaN,NaN,iso1:us#iso2:us-ak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-02,US,AK,NaN,2,NaN,NaN,iso1:us#iso2:us-ak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-03,US,AK,NaN,2,NaN,NaN,iso1:us#iso2:us-ak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-04,US,AK,NaN,2,NaN,NaN,iso1:us#iso2:us-ak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-05,US,AK,NaN,2,NaN,NaN,iso1:us#iso2:us-ak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-10-17,US,AL,NaN,1,NaN,NaN,iso1:us#iso2:us-al,171662.0,2788.0,...,NaN,NaN,NaN,0.07,NaN,863.0,NaN,17.6,NaN,1.0
996,2020-10-18,US,AL,NaN,1,NaN,NaN,iso1:us#iso2:us-al,172626.0,2788.0,...,NaN,NaN,NaN,0.07,NaN,874.0,NaN,17.8,NaN,1.0
997,2020-10-19,US,AL,NaN,1,NaN,NaN,iso1:us#iso2:us-al,173485.0,2789.0,...,NaN,NaN,NaN,0.07,NaN,892.0,NaN,18.2,NaN,1.0
998,2020-10-20,US,AL,NaN,1,NaN,NaN,iso1:us#iso2:us-al,174528.0,2805.0,...,NaN,NaN,NaN,0.07,NaN,904.0,NaN,18.4,NaN,1.0
999,2020-10-21,US,AL,NaN,1,NaN,NaN,iso1:us#iso2:us-al,175674.0,2828.0,...,NaN,NaN,NaN,0.07,NaN,918.0,NaN,18.7,NaN,1.0

In [50]:
covid_df_original = covid_df.copy()
covid_df_original.to_csv('covid_df_original.csv',index = False)

In [51]:
len(covid_df)

40672

In [52]:
covid_df.columns

Index(['date', 'country', 'state', 'county', 'fips', 'lat', 'long',
       'locationId', 'actuals.cases', 'actuals.deaths',
       'actuals.positiveTests', 'actuals.negativeTests',
       'actuals.contactTracers', 'actuals.hospitalBeds.capacity',
       'actuals.hospitalBeds.currentUsageTotal',
       'actuals.hospitalBeds.currentUsageCovid', 'unused1',
       'actuals.icuBeds.capacity', 'actuals.icuBeds.currentUsageTotal',
       'actuals.icuBeds.currentUsageCovid', 'unused2', 'actuals.newCases',
       'actuals.vaccinesDistributed', 'actuals.vaccinationsInitiated',
       'actuals.vaccinationsCompleted', 'metrics.testPositivityRatio',
       'metrics.testPositivityRatioDetails', 'metrics.caseDensity',
       'metrics.contactTracerCapacityRatio', 'metrics.infectionRate',
       'metrics.infectionRateCI90', 'unused3', 'unused4',
       'metrics.icuCapacityRatio', 'riskLevels.overall',
       'metrics.vaccinationsInitiatedRatio',
       'metrics.vaccinationsCompletedRatio', 'actuals.newDeaths',
       'actuals.vaccinesAdministered', 'riskLevels.caseDensity',
       'cdcTransmissionLevel', 'actuals.vaccinationsAdditionalDose',
       'metrics.vaccinationsAdditionalDoseRatio',
       'metrics.weeklyNewCasesPer100k', 'hsa', 'hsaPopulation',
       'actuals.hsaHospitalBeds.capacity',
       'actuals.hsaHospitalBeds.currentUsageTotal',
       'actuals.hsaHospitalBeds.currentUsageCovid',
       'actuals.hsaIcuBeds.capacity', 'actuals.hsaIcuBeds.currentUsageTotal',
       'actuals.hsaIcuBeds.currentUsageCovid',
       'metrics.bedsWithCovidPatientsRatio', 'hsaName',
       'actuals.hospitalBeds.weeklyCovidAdmissions',
       'actuals.hsaHospitalBeds.weeklyCovidAdmissions',
       'metrics.weeklyCovidAdmissionsPer100k',
       'communityLevels.cdcCommunityLevel',
       'communityLevels.canCommunityLevel'],
      dtype='object')

In [53]:
#Drop columns that are irrelevant
covid_df_clean1 = covid_df.drop(columns=['metrics.caseDensity','metrics.contactTracerCapacityRatio','metrics.infectionRateCI90','riskLevels.overall','metrics.vaccinationsInitiatedRatio','actuals.vaccinesAdministered','riskLevels.caseDensity','metrics.testPositivityRatioDetails','metrics.testPositivityRatio','actuals.vaccinationsCompleted','actuals.cases','actuals.deaths', 'actuals.positiveTests','actuals.negativeTests','unused2','actuals.icuBeds.currentUsageCovid','country','county','fips','lat','long','actuals.contactTracers', 'actuals.hospitalBeds.capacity','actuals.hospitalBeds.currentUsageTotal','unused1','actuals.icuBeds.capacity','actuals.icuBeds.currentUsageTotal','unused3', 'unused4','metrics.icuCapacityRatio','locationId','actuals.vaccinesDistributed','actuals.vaccinationsInitiated', 'cdcTransmissionLevel','actuals.vaccinationsAdditionalDose', 'metrics.vaccinationsAdditionalDoseRatio' ])

In [54]:
covid_df_clean1.columns

Index(['date', 'state', 'actuals.hospitalBeds.currentUsageCovid',
       'actuals.newCases', 'metrics.infectionRate',
       'metrics.vaccinationsCompletedRatio', 'actuals.newDeaths',
       'metrics.weeklyNewCasesPer100k', 'hsa', 'hsaPopulation',
       'actuals.hsaHospitalBeds.capacity',
       'actuals.hsaHospitalBeds.currentUsageTotal',
       'actuals.hsaHospitalBeds.currentUsageCovid',
       'actuals.hsaIcuBeds.capacity', 'actuals.hsaIcuBeds.currentUsageTotal',
       'actuals.hsaIcuBeds.currentUsageCovid',
       'metrics.bedsWithCovidPatientsRatio', 'hsaName',
       'actuals.hospitalBeds.weeklyCovidAdmissions',
       'actuals.hsaHospitalBeds.weeklyCovidAdmissions',
       'metrics.weeklyCovidAdmissionsPer100k',
       'communityLevels.cdcCommunityLevel',
       'communityLevels.canCommunityLevel'],
      dtype='object')

In [55]:
covid_df_clean1.head()

,date,state,actuals.hospitalBeds.currentUsageCovid,actuals.newCases,metrics.infectionRate,metrics.vaccinationsCompletedRatio,actuals.newDeaths,metrics.weeklyNewCasesPer100k,hsa,hsaPopulation,...,actuals.hsaIcuBeds.capacity,actuals.hsaIcuBeds.currentUsageTotal,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel
0,2020-03-01,AK,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-02,AK,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-03,AK,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-04,AK,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-05,AK,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#filter the dataframe
covid_df_filtered = covid_df_clean1.loc[(covid_df_clean1['date'] >= '2021-03-01') & (covid_df_clean1['date'] < '2022-02-28')]
covid_df_filtered.head(10)

,date,state,actuals.hospitalBeds.currentUsageCovid,actuals.newCases,metrics.infectionRate,metrics.vaccinationsCompletedRatio,actuals.newDeaths,metrics.weeklyNewCasesPer100k,hsa,hsaPopulation,...,actuals.hsaIcuBeds.capacity,actuals.hsaIcuBeds.currentUsageTotal,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel
365,2021-03-01,AK,25.0,383.0,0.99,0.000,10.0,124.8,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0
366,2021-03-02,AK,27.0,154.0,0.99,0.000,1.0,138.3,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,23.0,NaN,3.1,NaN,0.0
367,2021-03-03,AK,34.0,191.0,0.99,0.000,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,26.0,NaN,3.6,NaN,0.0
368,2021-03-04,AK,32.0,148.0,0.99,0.000,0.0,134.9,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,24.0,NaN,3.3,NaN,0.0
369,2021-03-05,AK,36.0,148.0,0.99,0.146,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0
370,2021-03-06,AK,39.0,0.0,0.99,0.150,0.0,138.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,30.0,NaN,4.1,NaN,0.0
371,2021-03-07,AK,37.0,0.0,0.99,0.156,0.0,136.1,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,32.0,NaN,4.4,NaN,0.0
372,2021-03-08,AK,35.0,340.0,0.99,0.158,0.0,134.1,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,36.0,NaN,4.9,NaN,0.0
373,2021-03-09,AK,34.0,89.0,0.99,0.160,0.0,125.2,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,33.0,NaN,4.5,NaN,0.0
374,2021-03-10,AK,40.0,152.0,0.99,0.163,0.0,119.9,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,31.0,NaN,4.2,NaN,0.0

In [57]:
covid_df_filtered = covid_df_filtered.reset_index(drop = True)

In [61]:
covid_df_filtered.head()

,date,state,actuals.hospitalBeds.currentUsageCovid,actuals.newCases,metrics.infectionRate,metrics.vaccinationsCompletedRatio,actuals.newDeaths,metrics.weeklyNewCasesPer100k,hsa,hsaPopulation,...,actuals.hsaIcuBeds.capacity,actuals.hsaIcuBeds.currentUsageTotal,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel
0,2021-03-01,AK,25.0,383.0,0.99,0.000,10.0,124.8,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0
1,2021-03-02,AK,27.0,154.0,0.99,0.000,1.0,138.3,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,23.0,NaN,3.1,NaN,0.0
2,2021-03-03,AK,34.0,191.0,0.99,0.000,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,26.0,NaN,3.6,NaN,0.0
3,2021-03-04,AK,32.0,148.0,0.99,0.000,0.0,134.9,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,24.0,NaN,3.3,NaN,0.0
4,2021-03-05,AK,36.0,148.0,0.99,0.146,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0

In [62]:
covid_df_filtered.to_csv('Resources\COVID_Filtered.csv', index = False)

In [74]:
population_df = pd.read_csv('Resources\State_Population.csv')
population_df.head()

,rank,State,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,1,California,39664128,0.0013,39613493,37319502,0.0628,0.1180,254.6179
1,2,Texas,30097526,0.0124,29730311,25241971,0.1924,0.0896,115.2138
2,3,Florida,22177997,0.0106,21944577,18845537,0.1768,0.0660,413.5757
3,4,New York,19223191,-0.0040,19299981,19399878,-0.0091,0.0572,407.9105
4,5,Pennsylvania,12805190,0.0001,12804123,12711160,0.0074,0.0381,286.1943

In [75]:
population_df['State'].unique()

array(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania',
       'Illinois', 'Ohio', 'Georgia', 'North Carolina', 'Michigan',
       'New Jersey', 'Virginia', 'Washington', 'Arizona', 'Tennessee',
       'Massachusetts', 'Indiana', 'Missouri', 'Maryland', 'Colorado',
       'Wisconsin', 'Minnesota', 'South Carolina', 'Alabama', 'Louisiana',
       'Kentucky', 'Oregon', 'Oklahoma', 'Connecticut', 'Utah', 'Nevada',
       'Puerto Rico', 'Iowa', 'Arkansas', 'Mississippi', 'Kansas',
       'New Mexico', 'Nebraska', 'Idaho', 'West Virginia', 'Hawaii',
       'New Hampshire', 'Maine', 'Montana', 'Rhode Island', 'Delaware',
       'South Dakota', 'North Dakota', 'Alaska', 'District of Columbia',
       'Vermont', 'Wyoming'], dtype=object)

In [64]:
#Drop columns that are irrelevant
population_df = population_df.drop(columns=['rank','Pop','Growth','Pop2010','growthSince2010','Percent','density'])
population_df.head()

          State   Pop2021
0    California  39613493
1         Texas  29730311
2       Florida  21944577
3      New York  19299981
4  Pennsylvania  12804123

In [65]:
population_df.set_index('State',inplace=True)
population_mapping = population_df.to_dict()['Pop2021']

In [66]:
population_df.to_csv('Resources\pop_by_state2021.csv', index = False)

In [67]:
stateID_df = pd.read_csv('Resources\state_id.csv')
stateID_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [68]:
stateID_df = stateID_df.drop(columns=['Abbrev'])
stateID_df.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [69]:
stateID_df.set_index('Code',inplace=True)

In [39]:
state_mapping = stateID_df.to_dict()['State']

In [70]:
final_data = covid_df_filtered.copy()
final_data.head()

,date,state,actuals.hospitalBeds.currentUsageCovid,actuals.newCases,metrics.infectionRate,metrics.vaccinationsCompletedRatio,actuals.newDeaths,metrics.weeklyNewCasesPer100k,hsa,hsaPopulation,...,actuals.hsaIcuBeds.capacity,actuals.hsaIcuBeds.currentUsageTotal,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel
0,2021-03-01,AK,25.0,383.0,0.99,0.000,10.0,124.8,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0
1,2021-03-02,AK,27.0,154.0,0.99,0.000,1.0,138.3,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,23.0,NaN,3.1,NaN,0.0
2,2021-03-03,AK,34.0,191.0,0.99,0.000,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,26.0,NaN,3.6,NaN,0.0
3,2021-03-04,AK,32.0,148.0,0.99,0.000,0.0,134.9,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,24.0,NaN,3.3,NaN,0.0
4,2021-03-05,AK,36.0,148.0,0.99,0.146,1.0,140.0,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0

In [81]:
# mapping population and state name
final_data['state_name'] = final_data['state'].map(state_mapping)
final_data['population'] = final_data['state_name'].map(population_mapping)

In [82]:
final_data.head()

,date,state,actuals.hospitalBeds.currentUsageCovid,actuals.newCases,metrics.infectionRate,metrics.vaccinationsCompletedRatio,actuals.newDeaths,metrics.weeklyNewCasesPer100k,hsa,hsaPopulation,...,actuals.hsaIcuBeds.currentUsageCovid,metrics.bedsWithCovidPatientsRatio,hsaName,actuals.hospitalBeds.weeklyCovidAdmissions,actuals.hsaHospitalBeds.weeklyCovidAdmissions,metrics.weeklyCovidAdmissionsPer100k,communityLevels.cdcCommunityLevel,communityLevels.canCommunityLevel,state_name,population
0,2021-03-01,AK,25.0,383.0,0.99,0.000,10.0,124.8,NaN,NaN,...,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0,Alaska,724357.0
1,2021-03-02,AK,27.0,154.0,0.99,0.000,1.0,138.3,NaN,NaN,...,NaN,0.02,NaN,23.0,NaN,3.1,NaN,0.0,Alaska,724357.0
2,2021-03-03,AK,34.0,191.0,0.99,0.000,1.0,140.0,NaN,NaN,...,NaN,0.02,NaN,26.0,NaN,3.6,NaN,0.0,Alaska,724357.0
3,2021-03-04,AK,32.0,148.0,0.99,0.000,0.0,134.9,NaN,NaN,...,NaN,0.02,NaN,24.0,NaN,3.3,NaN,0.0,Alaska,724357.0
4,2021-03-05,AK,36.0,148.0,0.99,0.146,1.0,140.0,NaN,NaN,...,NaN,0.02,NaN,25.0,NaN,3.4,NaN,0.0,Alaska,724357.0

In [83]:
set(population_df['State'].unique()) - set(final_data['state_name'].unique())

{'Puerto Rico'}

In [84]:
final_data.isnull().sum()

date                                                 0
state                                                0
actuals.hospitalBeds.currentUsageCovid             860
actuals.newCases                                   118
metrics.infectionRate                                0
metrics.vaccinationsCompletedRatio                1454
actuals.newDeaths                                  164
metrics.weeklyNewCasesPer100k                      118
hsa                                              19292
hsaPopulation                                    18928
actuals.hsaHospitalBeds.capacity                 19292
actuals.hsaHospitalBeds.currentUsageTotal        19292
actuals.hsaHospitalBeds.currentUsageCovid        19292
actuals.hsaIcuBeds.capacity                      19292
actuals.hsaIcuBeds.currentUsageTotal             19292
actuals.hsaIcuBeds.currentUsageCovid             19292
metrics.bedsWithCovidPatientsRatio                 860
hsaName                                          19292
actuals.hospitalBeds.weeklyCovidAdmissions         860
actuals.hsaHospitalBeds.weeklyCovidAdmissions    19292
metrics.weeklyCovidAdmissionsPer100k               860
communityLevels.cdcCommunityLevel                19292
communityLevels.canCommunityLevel                  846
state_name                                         728
population                                         728
dtype: int64

In [85]:
final_data.shape

(19292, 25)

In [87]:
# Delete columns containing either 75% or more than 75% NaN Values
perc = 75.0
min_count =  int(((100-perc)/100)*final_data.shape[0] + 1)
mod_df = final_data.dropna( axis=1, 
                thresh=min_count)

In [88]:
mod_df.isnull().sum()

date                                             0
state                                            0
actuals.hospitalBeds.currentUsageCovid         860
actuals.newCases                               118
metrics.infectionRate                            0
metrics.vaccinationsCompletedRatio            1454
actuals.newDeaths                              164
metrics.weeklyNewCasesPer100k                  118
metrics.bedsWithCovidPatientsRatio             860
actuals.hospitalBeds.weeklyCovidAdmissions     860
metrics.weeklyCovidAdmissionsPer100k           860
communityLevels.canCommunityLevel              846
state_name                                     728
population                                     728
dtype: int64

In [90]:
mod_df.dropna().to_csv('Resources/final_data_prep.csv',index = False)

In [18]:
stateID_df.to_csv('Resources\state_id_clean.csv', index = False)